<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="text-center">Blacklist</h1>

          <form>
            <table class="text-center table table-striped">
              <thead>
                <tr>
                  <td>User Name</td>
                  <td>Reason</td>
                  <td>submit</td>
                  <td>delete</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" id="varname" label="varname"></td>
                  <td><input type="text" id="varname" label="varname"></td>
                  <td><button>Submit</button></td>
                  <td><button>Delete</button></td>
                  <tr>
                    <td>testuser</td>
                    <td>Testing my patience</td>
                    <td><button>edit</button></td>
                    <td><button>Delete</button></td>
                  </tr>
                </tr>
              </tbody>
            </table>
</form>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>$(".<%=classi%>").removeClass("<%=classi%>").addClass("active")</script>

</body>
</html>
