<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <main>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <h3>Twitch Followers</h3>
              <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Ban</th>
                <th>Timeout</th>
                <th>Promote</th>
              </tr>
            </thead>
            <tbody>
              <% follow.forEach(function(drink) { %>
              <tr><td><img width="50" height="50" src= <%= drink.image %> ></img> </td>
              <td><%= drink.name %></td>
              <td><a href="ban>"<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></a></span></td>
              <td><a href="timeout"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></a></td>
              <td><a href="promote"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a></td></tr>

                  
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>


    </main>
    <script>$(".<%=classi%>").removeClass("<%=classi%>").addClass("active")</script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
