<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>




    </main>
    <script>$(".<%=classi%>").removeClass("<%=classi%>").addClass("active")</script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
