<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <h1 class="text-center">Quotes</h1>
            <form>
              <table class="text-center table table-striped">
                <thead>
                  <tr>
                    <td>ID</td>
                    <td>Value</td>
                    <td>submit</td>
                    <td>delete</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" id="varname" label="varname"></td>
                    <td><input type="text" id="varname" label="varname"></td>
                    <td><button>Submit</button></td>
                    <td><button>Delete</button></td>
                    <tr>
                      <td>1</td>
                      <td>I'm not dead yet</td>
                      <td><button>edit</button></td>
                      <td><button>Delete</button></td>
                    </tr>
                  </tr>
                </tbody>
              </table>
  </form>



    </main>
    <script>$(".<%=classi%>").removeClass("<%=classi%>").addClass("active")</script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
