<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <% blah.forEach(function(drink) { %>
              <li><%= drink.display_name %></li>
          <% }); %>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
